In [1]:
import graphviz as gv
import pandas as pd

In [2]:
df=pd.read_csv("Test file_graph viz.csv")

In [3]:
df

  Name        Date_Time  Score
0    J   4/1/2023 20:59     24
1    B   4/2/2023 20:59     35
2    F  3/30/2023 20:59     42

In [4]:
df['dates']=pd.to_datetime(df.Date_Time)

In [5]:
df_sorted=df.sort_values(by=['dates'])

In [6]:
df_sorted

  Name        Date_Time  Score               dates
2    F  3/30/2023 20:59     42 2023-03-30 20:59:00
0    J   4/1/2023 20:59     24 2023-04-01 20:59:00
1    B   4/2/2023 20:59     35 2023-04-02 20:59:00

In [7]:
df_final=df_sorted[["Name","Score","dates"]]
df_final

  Name  Score               dates
2    F     42 2023-03-30 20:59:00
0    J     24 2023-04-01 20:59:00
1    B     35 2023-04-02 20:59:00

In [8]:
df_final['Concatenated'] = None

df_final['Concatenated'] = df_final.apply(lambda x: x['Name'] + '\n' + str(x['Score']) + '\n' + str(x['dates']), axis=1)

df_final_concat=df_final[["Concatenated"]]

df_final_concat = df_final_concat.reset_index(drop=True)

df_final_concat

                 Concatenated
0  F\n42\n2023-03-30 20:59:00
1  J\n24\n2023-04-01 20:59:00
2  B\n35\n2023-04-02 20:59:00

In [12]:
graph = gv.Digraph()

In [13]:
for i, row in df_final_concat.iterrows():
    graph.node(str(i), row['Concatenated'])

graph.render('inital graph', view=True)

'inital graph.pdf'

In [14]:
# Add edges between the nodes to represent their relative positions
for i in range(len(df_final_concat)-1):
    graph.edge(str(i), str(i+1))

# Render the graph
graph.render('sorted_values_graph', view=True)

'sorted_values_graph.pdf'